# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Test reports
reports/*.html

# VS Code
.vscode/

logs/

# Build / distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db